<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Início</a></li>
  <li><a href="toc.html">Índice</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Premissas, princípios e convenções de design<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="premissas.html">Princípios, premissas</a>
      </li>
    </ul>
  </li>
  <li><a href="estrutura.html">O br-core</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Especificação<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="modelos.html">Modelos computacionais</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">Lista de artefatos</a></li>
  <li><a href="downloads.html">Baixar</a></li>
</ul>      
